@model IEnumerable<Blog>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Blog List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="bg-dark">
                        <tr>
                            <th>Category</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Is Home</th>
                            <th>Is Approved</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in Model)
                        {
                        <tr>
                            <td>
                                @await Component.InvokeAsync("GetCategoryName",blog.CategoryId)
                            </td>
                            <td>
                                <img src="~/img/@blog.Image" alt="@blog.Title" width="160" />
                            </td>
                            <td>@blog.Title</td>
                            <td>@blog.Description</td>
                            <td>@blog.Date</td>
                            <td>
                                @if (@blog.IsHome)
                                {
                                    <i class="fas fa-check"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times"></i>
                                }
                            </td>
                            <td>
                                @if (@blog.IsApproved)
                                {
                                    <i class="fas fa-check"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times"></i>
                                }
                            </td>
                            <td width="5%" class="bg-light">
                                <a asp-controller="Blog" asp-action="Edit" asp-route-id="@blog.Id"
                                   class="btn btn-sm btn-warning btn-outline-dark">
                                    Edit
                                </a>
                            </td>
                            <td width="5%" class="bg-light">
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id"
                                   class="btn btn-sm btn-primary btn-outline-dark">
                                    Details
                                </a>
                            </td>
                            <td width="5%" class="bg-light">
                                <a asp-controller="Blog" asp-action="Delete" asp-route-id="@blog.Id"
                                   class="btn btn-sm btn-danger btn-outline-dark">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>